!! Extensions
URxvt.perl-ext-common: default,matcher

!Clickable links
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline

!! Disable ISO 14755 mode
URxvt.iso14755: false
URxvt.iso14755_52: false

!! Cursor
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 0

!! Navigation
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy/Paste
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Control-Meta-C: builtin-string:
URxvt.keysym.Control-Meta-V: builtin-string:

!! Fonts
URxvt*font: xft:Iosevka:style=Regular:size=12

!! Colors
*.foreground: #d8dee9
*.background: #2e3440
*.cursorColor: #d8dee9

! Black
*.color0: #3b4252
*.color8: #4c566a
! Red
*.color1: #bf616a
*.color9: #bf616a

! Green
*.color2: #a3be8c
*.color10: #a3be8c

! Yellow
*.color3: #ebcb8b
*.color11: #ebcb8b

! Blue
*.color4: #81a1c1
*.color12: #81a1c1

! Magenta
*.color5: #b48ead
*.color13: #b48ead

! Cyan
*.color6: #88c0d0              
*.color14: #8fbcbb

! Gray
*.color7: #e5e9f0
*.color15: #eceff4

!! Scrollbar
URxvt.scrollBar: false

!! Effects
!URxvt.depth: 32
!URxvt.background: [85]#000000
